@page
@model UnikPedel.Web.Pages.Rekvisitioner.OpretModel
@{
}

<div class="container-fluid">
    <br />
<h2>Opret ny rekvisition</h2>
<br />
    <div class="border container" style="padding: 30px">
          <form class="row g-3">
            <div class="col-md-6">
                 <label for="inputEmail4" class="form-label">Opgave beskrivelse</label>
                 <input type="text" class="form-control" >
            </div>                  
            <div class="col-md-4">
                    <label for="inputState" class="form-label">Type</label>
                    <select id="inputState" class="form-select">
                        <option selected> Vælge rekvitiontype </option>
                        <option value="1">Køkken</option>
                        <option value="2">Badeværelse</option>
                        <option value="3">Stue</option>
                        <option value="4">Vand</option>  
                        <option value="5">EL</option>                    
                    </select>
           </div>
        
            <div class="col-md-4">
                <label>Start dato</label>
                <input class="form-control" type="date" />
            </div>

             
            <div class="mb-3">
                  <label for="formFile" class="form-label">Tilføj billeder</label>
                  <input class="form-control" type="file" id="formFile">
            </div>
           <div class="col-md-4">
                    <label for="inputState" class="form-label">Vælg ejendom</label>
                    <select id="inputState" class="form-select">
                        <option selected> Vælge Ejendom </option>
                        <option value="1">Ejendom A</option>
                        <option value="2">Ejendom B</option>
                        <option value="3">Ejendom C</option>
                    </select>
           </div>            
                 <div class="col-12">
                 <input type="submit" value="Opret rekvisition" class="btn btn-primary"/>
                 
         </div>
        </form>
        </div>
</div>
