@page
@model UnikPedel.Web.Pages.TidRegsitrering.CreateModel
@{
}
@*<section class="container-fluid">
    <h1>Tid Registreringer</h1>
    <article>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TidRegistrering.AntalTimer" class="control-label"></label>
                <input asp-for="TidRegistrering.AntalTimer" />
                <span asp-validation-for="TidRegistrering.AntalTimer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TidRegistrering.viceværtId" class="control-label"></label>
                <input asp-for="TidRegistrering.viceværtId" />
                <span asp-validation-for="TidRegistrering.viceværtId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TidRegistrering.rekvisitionId" class="control-label"></label>
                <input asp-for="TidRegistrering.rekvisitionId" />
                <span asp-validation-for="TidRegistrering.rekvisitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrer" class="btn btn-primary"/>
            </div>
        </form>
    </article>
</section>*@
