@page
@model UnikPedel.Web.Pages.TidRegsitrering.CreateModel
@{
}
<section class="container-fluid">
    <h1>Registrer Tid</h1>
    <article>
      <div class="border container" style="padding: 30px">
          <form class="row g-3" method="post">
            <div class="col-md-6">
                <label asp-for="TidRegistrering.AntalTimer" class="control-label"></label>
                <input asp-for="TidRegistrering.AntalTimer" class="form-control"/>
                <span asp-validation-for="TidRegistrering.AntalTimer" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="TidRegistrering.viceværtID" class="control-label"></label>
                <input asp-for="TidRegistrering.viceværtID" class="form-control"/>
                <span asp-validation-for="TidRegistrering.viceværtID" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="TidRegistrering.rekvisitionId" class="control-label"></label>
                <input asp-for="TidRegistrering.rekvisitionId" class="form-control"/>
                <span asp-validation-for="TidRegistrering.rekvisitionId" class="text-danger"></span>
            </div>
            
            
                 <div class="col-md-6">
                 <input type="submit" value="Registrer" class="btn btn-outline-success"/>
                     <a asp-page="./Index">Tilbage</a>
                 </div>
        </form>
    </article>
</section>
