@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col mb-3">
      <div class="card btn" style="width: 18rem;">
          <div class="card-body position-relative">
             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">+15 <span class="visually-hidden">unread messages</span></span>
            <h5 class="card-title">Opret Opgave</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/Vicevært/Rekvisitioner/Opret" class="card-link btn btn-primary">Opret ny rekvisition</a>
          </div>
      </div>
    </div>

        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">+26 <span class="visually-hidden">unread messages</span></span>
                <h5 class="card-title">Opgaver til udførelse</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body position-relative">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">+32 <span class="visually-hidden">unread messages</span></span>
                <h5 class="card-title">Opgaver til godkendelse</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">+10 <span class="visually-hidden">unread messages</span></span>
                <h5 class="card-title">Godkendte opgaver</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">+99 <span class="visually-hidden">unread messages</span></span>
                <h5 class="card-title">Afviste opgaver</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">+12 <span class="visually-hidden">unread messages</span></span>
                <h5 class="card-title">Ikke udførte opgaver</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Kontakt informationer</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Ejendom & Lejemål</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
  </div>
</div>