@page
@model UnikPedel.Web.Pages.Admin.KontaktModel
@{
}
<!--Section: Contact v.2-->
<div>
    <h2 class="h1-responsive font-weight-bold text-center my-4">Kontakt os</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Har du nogen spørgsmål? Tøv ikke med at kontakte os direkte. Vores team vil vende tilbage til dig inden for
         et par timer til at hjælpe dig.</p>

        <div class="container">

            <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Dit navn</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Din email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Emne</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Din besked</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <h3>Vejle, Boulevarden 19E, Danmark</h3>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <h4>+45 23456789</h4>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <h4>contact@unik.com</h4>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>
        </div>
</div>