@page
@model UnikPedel.Web.Pages.Gæstelejligheder.IndexModel
@{
}
<div class="container">
    <h3>Gæstelejligheder</h3>
    <div class="d-flex justify-content-end">
    <a class="btn btn-primary" asp-page="/Gæstelejligheder/Booking/Opret">Opret ny booking</a>
</div>
</div>