@page
@model UnikPedel.Web.Pages.Afdelinger.IndexModel
@{
}

<h3>Afdelinger & Afdelingansvarlig</h3>

<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col">
          <div class="card btn">
              <<div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2247.8659964905432!2d9.530644616223299!3d55.70870100285962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x464c8251a3227a65%3A0x2e69cd6e082c6333!2sLivingday%2C%20Torvegade%207B%2C%207100%20Vejle!3m2!1d55.708698!2d9.5328333!5e0!3m2!1sda!2sdk!4v1653002959052!5m2!1sda!2sdk" width="250" height="250" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            <h5 class="card-title">Ejendom B</h5>
            <h6 class="card-subtitle mb-2 text-muted">Boulevard 14b</h6>
            <hr class="mb-3" />
            <h5 class="m-4">Ejendomansvarlig</h5>
                <ol class="list-group list-group-numbered mt-0 mb-5">
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Jesper Jensen</div>
                          Telefon nr: 23423423
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Mathias Hansen</div>
                          Telefon nr: 53233223
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Casper Hansen</div>
                          Telefon nr: 4324324
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                      </li>
                    </ol>
            <a asp-page="/Admin/Afdelinger/Edit" class="card-link btn btn-light m-2">Rediger</a>
              </div>
        </div>

        <div class="col">
          <div class="card btn">
              <<div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2247.8659964905432!2d9.530644616223299!3d55.70870100285962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x464c8251a3227a65%3A0x2e69cd6e082c6333!2sLivingday%2C%20Torvegade%207B%2C%207100%20Vejle!3m2!1d55.708698!2d9.5328333!5e0!3m2!1sda!2sdk!4v1653002959052!5m2!1sda!2sdk" width="250" height="250" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            <h5 class="card-title">Ejendom B</h5>
            <h6 class="card-subtitle mb-2 text-muted">Boulevard 14b</h6>
            <hr class="mb-3" />
            <h5 class="m-4">Ejendomansvarlig</h5>
                <ol class="list-group list-group-numbered mt-0 mb-5">
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Jesper Jensen</div>
                          Telefon nr: 23423423
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Mathias Hansen</div>
                          Telefon nr: 53233223
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Casper Hansen</div>
                          Telefon nr: 4324324
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                      </li>
                    </ol>
            <a asp-page="/Admin/Afdelinger/Edit" class="card-link btn btn-light m-2">Rediger</a>
              </div>
        </div>

        <div class="col">
          <div class="card btn">
              <<div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2247.8659964905432!2d9.530644616223299!3d55.70870100285962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x464c8251a3227a65%3A0x2e69cd6e082c6333!2sLivingday%2C%20Torvegade%207B%2C%207100%20Vejle!3m2!1d55.708698!2d9.5328333!5e0!3m2!1sda!2sdk!4v1653002959052!5m2!1sda!2sdk" width="250" height="250" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            <h5 class="card-title">Ejendom B</h5>
            <h6 class="card-subtitle mb-2 text-muted">Boulevard 14b</h6>
            <hr class="mb-3" />
            <h5 class="m-4">Ejendomansvarlig</h5>
                <ol class="list-group list-group-numbered mt-0 mb-5">
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Jesper Jensen</div>
                          Telefon nr: 23423423
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Mathias Hansen</div>
                          Telefon nr: 53233223
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Casper Hansen</div>
                          Telefon nr: 4324324
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                      </li>
                    </ol>
            <a asp-page="/Admin/Afdelinger/Edit" class="card-link btn btn-light m-2">Rediger</a>
              </div>
        </div>
        </div>
</div>