@page
@model UnikPedel.Web.Pages.Afdelinger.IndexModel
@{
}

<h3>Afdelinger & Afdelingansvarlig</h3>
    <div class="container mt-5 pt-5">

                <table class="table">
            <thead>
            <tr>
                <th>
@*                    <label asp-for="EjendomAnsvarlig.First().Id"></label>
*@                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.EjendomAnsvarlig)
            {
                <tr>
                    <td>
                        <div class="col">
                              <div class="card btn">
                                <h5 class="card-title">@item.Id EjendomAnsvarligID</h5>
                                <hr class="mb-2" />
                                   <ol class="list-group list-group-numbered mt-0 mb-5">
                                          <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                              <h5 class="m-4">@item.VicevaertId ViceværtID</h5>
                                            </div>
                                          </li>
                                         
                                          <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                              <h5 class="m-4">@item.EjendomId EjendomID</h5>
                                            </div>
                                          </li>
                                        </ol>
                                  </div>
                                 </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        </div>

