@page
@model UnikPedel.Web.Pages.Vicevært.EditModel
@{
}

<div class="container-fluid">
    <br />
<h2>Edit ny Vicevært</h2>
<br />
    <div class="border container" style="padding: 30px">
          <form class="row g-3">
            <div class="col-md-6">
                 <label for="inputEmail4" class="form-label">Fornavn</label>
                 <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                 <label for="inputEmail4" class="form-label">Efternavn</label>
                 <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                 <label for="inputEmail4" class="form-label">Telefon</label>
                 <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                 <label for="inputEmail4" class="form-label">Email</label>
                 <input type="email" class="form-control">
            </div>
            <div class="mb-3">
                  <label for="formFile" class="form-label">Tilføj billeder</label>
                  <input class="form-control" type="file" id="formFile">
            </div>         
                 <div class="col-md-6">
                 <input type="submit" value="Opret Vicevært" class="btn btn-primary"/>
            </div>
        </form>
        </div>
</div>
