@page
@model UnikPedel.Web.Pages.Vicevært.IndexModel
@{
}
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col mb-3">
      <div class="card btn" style="width: 18rem;">
          <div class="card-body btn position-relative">
            <h5 class="card-title">Opret Opgave</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a asp-page="/Rekvisitioner/Opret" class="card-link btn btn-primary">Opret ny rekvisition</a>
          </div>
      </div>
    </div>

        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body btn position-relative">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">+26 <span class="visually-hidden">unread messages</span></span>
                <h5 class="card-title">Mine rekvisitioner</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body btn position-relative">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">+32 <span class="visually-hidden">unread messages</span></span>
                <h5 class="card-title">Min vagtplan</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>


        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body btn position-relative">
                <h5 class="card-title">Kontakt information</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="card btn" style="width: 18rem;">
              <div class="card-body btn position-relative">
                <h5 class="card-title">Ejendom & Lejemål</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
  </div>