@page
@model UnikPedel.Web.Pages.Vicevært.RekvisitionerViceVærtModel
@{
}
<section>
  <a href="#">
    <article class="card">
      <figure class="card-img">
        <img src="https://cdn.pixabay.com/photo/2017/12/10/14/47/pizza-3010062__340.jpg" />
        <figcaption>
          Image from pixabay
        </figcaption>
      </figure>
      <div class="card-body">
        <h2 class="card-title">pizza</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu gravida urna, in venenatis leo.</p>
      </div>
    </article>
  </a>
  <a href="#">
    <article class="card">
      <figure class="card-img">
        <img src="https://cdn.pixabay.com/photo/2014/08/14/14/21/shish-kebab-417994__340.jpg" />
        <figcaption>
          Image from pixabay
        </figcaption>
      </figure>
      <div class="card-body">
        <h2 class="card-title">kebab</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu gravida urna, in venenatis leo.</p>
      </div>
    </article>
  </a>
  <a href="#">
    <article class="card">
      <figure class="card-img">
        <img src="https://cdn.pixabay.com/photo/2017/01/11/11/33/cake-1971552__340.jpg" />
        <figcaption>
          Image from pixabay
        </figcaption>
      </figure>
      <div class="card-body">
        <h2 class="card-title">cake</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu gravida urna, in venenatis leo.</p>
      </div>
    </article>
  </a>
</section>