@page
@model UnikPedel.Web.Pages.Vicevært.SletModel
@{
}

<div class="container-fluid">
    <br />
<h2>Slet Vicevært</h2>
<br />
    <div class="border container" style="padding: 30px">
          <form class="row g-3" method="post">
            <div class="col-md-10">
                <label asp-for="Vicevært.Id" class="control-label"></label>
                <input asp-for="Vicevært.Id" disabled="disabled" class="form-control"/>
                <span asp-validation-for="Vicevært.Id" class="text-danger"></span>
           </div>
            <div class="col-md-10">
                <label asp-for="Vicevært.ForNavn" class="control-label"></label>
                <input asp-for="Vicevært.ForNavn" disabled="disabled" class="form-control"/>
                <span asp-validation-for="Vicevært.ForNavn" class="text-danger"></span>
            </div>
            <div class="col-md-10">
                <label asp-for="Vicevært.EfterNavn" class="control-label"></label>
                <input asp-for="Vicevært.EfterNavn" disabled="disabled" class="form-control"/>
                <span asp-validation-for="Vicevært.EfterNavn" class="text-danger"></span>
            </div>
            <div class="col-md-10">
                <label asp-for="Vicevært.Telefon" class="control-label"></label>
                <input asp-for="Vicevært.Telefon" disabled="disabled" class="form-control"/>
                <span asp-validation-for="Vicevært.Telefon" class="text-danger"></span>
            </div>
            <div class="col-md-10">
                <label asp-for="Vicevært.Email" class="control-label"></label>
                <input asp-for="Vicevært.Email" disabled="disabled" class="form-control"/>
                <span asp-validation-for="Vicevært.Email" class="text-danger"></span>
            </div>
                 <div class="col-md-11">
                 <input type="submit" value="Slet Vicevært" class="btn btn-primary"/>
                   <a asp-page="/Admin/Medarbejder">Tilbage</a>
                 </div>
        </form>
        </div>
</div>
